.content {
  position: relative;
}

.item {
  width: 105px;
  height: 105px;
  background-color: forestgreen;
  position: absolute;
}

.item-2 {
  display: none;
  background-color: orange;
}

.content:hover .item-2 {
  z-index: 1;
  display: block;
}

/*------------------------------------------*/

.block {
  height: 350px;
  border: 1px solid #000;
  position: relative;
}

.items {
  background-color: grey;
  height: 50px;
  position: sticky;
  top: 0;
}
