.block {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  float: left;
}

.footer {
  height: 50px;
  background-color: grey;
  clear: both;
}

.heading {
  border: 1px solid red;
  overflow: hidden;
}
